<div class="container mt-2 mb-5">
  <div class="row d-flex justify-content-around text-center">
    <div class="col-lg-4 carousel-container offset-lg-1 ">
      <h3 class="carousel-title m-4"> Corey's Kitchen </h3>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "c1.png", class: 'd-block w-100'%>
          </div>
          <div class="carousel-item">
            <%= image_tag "c2.png", class: 'd-block w-100'%>
          </div>
          <div class="carousel-item">
            <%= image_tag "c3.png", class: 'd-block w-100'%>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="col-lg-4 carousel-container offset-lg-1">
      <h3 class="carousel-title m-4"> Newport Marine </h3>
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "marine1.png", class: 'd-block w-100'%>
          </div>
          <div class="carousel-item">
            <%= image_tag "marine2.png", class: 'd-block w-100'%>
          </div>
          <div class="carousel-item">
            <%= image_tag "marine3.png", class: 'd-block w-100'%>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>