<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label "Name: "%>
        <%= form.text_field :name, class: "form-control"%>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label "Phone:" %>
        <%= form.text_field :phone, class: "form-control"%>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col">
  <div class="field">
    <%= form.text_area :description, class:"form-control",  :placeholder => "My Awesome Idea...", size: "30x10" %>
    <%= form.submit "Submit", class: "btn btn-secondary btn-lg btn-block mt-5 mb-5" %>
  </div>
  </div>
</div>
<% end %>
